@import "grayscale.css";

* {
    font-size: 14px;
    font-family: "MesloLGM Nerd Font Mono";
    transition: 0ms;
}

.notification {
    margin: 20px 0px 0px 0px;
    border-radius: 15px;
    border: 2px solid @focus;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.5);
}

.low {
    background: @background;
}
.normal {
    background: @filling;
}
.critical {
    background: @red;
}

.notification-content {
    background: transparent;
    color: @red;
    padding: 6px;
    border-radius: 8px;
}

.close-button {
    background: @background;
    color: @text;
    text-shadow: none;
    padding: 0;
    border-radius: 100%;
    margin-top: 27px;
    margin-right: 5px;
    box-shadow: none;
    border: none;
    min-width: 24px;
    min-height: 24px;
}

.notification-group {
    background-color: transparent;
    border-radius: 10px;
}