@import "mocha.css";

* {
  font-family: MesloLGM Nerd Font Propo;
  font-size: 15px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 0;
  padding: 0;
}

#workspaces {
  border-radius: 0.4rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 0.4rem;
  padding-right: 0px;
}

#workspaces button {
  color: @lavender;
  border-radius: 0.4rem;
  padding: 0rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 0.4rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 0.4rem;
}

#window {
  color: @lavender;
  border-radius: 0.4rem;
  margin: 5px;
  background-color: @surface0;
  padding-left: 5px;
  padding-right: 7px;
}

window#waybar.empty #window {  
 background:none;  
}  

#tray,
#clock,
#battery,
#backlight,
#pulseaudio,
#custom-notification,
#custom-updates,
#network {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  color: @lavender;
  border-radius: 0.4rem;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

#custom-notification {
  color: @lavender;
  border-radius: 0.4rem;
  margin-left: 0.4rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
  border-radius: 0px 0.4rem 0.4rem 0px;
}

#pulseaudio {
  color: @maroon;
  border-radius: 0.4rem 0px 0px 0.4rem;
  margin-left: 0.4rem;
}

#network {
  color: @mauve;
}

#custom-music {
  color: @mauve;
  border-radius: 0.4rem;
}

#tray {
  border-radius: 0.4rem;
  margin-left: 0.4rem;
}

#custom-updates {
  color: @red;
  border-radius: 0.4rem;
  margin-left: 0.4rem;
}
